@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

body {
  width: 1440px;
  height: 6886px;
  background: #ffffff;
}

.vibrant-img {
  width: 252px;
  height: 69px;
  flex-shrink: 0;
}

.trnf-img {
  position: relative;
  width: 1440px;
  height: 701px;
  max-width: fit-content;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.container {
  width: 1440px;
  height: 701px;
}

.rectangle-1 {
  background: #ffffff;
  width: 7px;
  height: 291px;
}

.transformer-company {
  color: #fff;
  font-size: 64px;
  font-family: Red Hat Display, sans-serif;
  margin-left: 15%;
}

.content {
  color: #fff;
  font-size: 40px;
  font-family: "Rhodium Libre", sans-serif;
  margin-left: 15%;
}

.btn {
  display: flex;
  flex-direction: row;
  margin-left: 15%;
}

.btn-1 {
  background: rgba(255, 255, 255, 0.7);
  border-radius: 13px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 208px;
  height: 55px;
  box-shadow: 0px 4px 22px 0px rgba(0, 0, 0, 0.1);
  color: #000000;
  text-align: left;
  font: 400 28px "Roboto", sans-serif;
  position: relative;
  padding: 10px;
  margin: 10px;
}

.btn-2 {
  background: rgba(0, 0, 0, 0.7);
  border-radius: 13px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 208px;
  height: 55px;
  box-shadow: 0px 4px 22px 0px rgba(0, 0, 0, 0.1);
  color: #ffffff;
  text-align: left;
  font: 400 28px "Roboto", sans-serif;
  position: relative;
  margin: 10px;
}

.our-services {
  text-align: left;
  font: 600 64px "Red Hat Display", sans-serif;
  position: relative;
  padding:1%;
  
}

.our-services-span {
  color: #000000;
  font: 600 64px "Red Hat Display", sans-serif;
}

.our-services-span2 {
  color: #0d4497;
  font: 600 64px "Red Hat Display", sans-serif;
}


.rorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-nunc-vulputate-libero-et-velit-interdum-ac-aliquet-odio-mattis,
.rorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-nunc-vulputate-libero-et-velit-interdum-ac-aliquet-odio-mattis
  * {
  box-sizing: border-box;
}
.rorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-nunc-vulputate-libero-et-velit-interdum-ac-aliquet-odio-mattis {
  color: #000000;
  text-align: left;
  font: 300 32px "Red Hat Display", sans-serif;
  position: relative;
  padding: 1%;
}

.frame-10,
.frame-10 * {
  box-sizing: border-box;
}
.frame-10 {
  display: flex;
  flex-direction: row;
  gap: 58px;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: auto;
  padding: 1%;
  padding-left: 3%;
}
.group-4 {
  flex-shrink: 0;
  width: 381px;
  height: 478px;
  position: static;
}
.rectangle-241 {
  background: #f39946;
  border-radius: 15px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 381px;
  height: 478px;
  position: absolute;
  left: 0px;
  top: 0px;
  box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.3);
}
.vector {
  position: absolute;
  left: 136px;
  top: 50px;
  overflow: visible;
}
.abc {
  color: #ffffff;
  text-align: center;
  font: 700 42px "Red Hat Display", sans-serif;
  position: absolute;
  left: 108px;
  top: 184px;
  width: 144px;
  height: 49px;
}
.korem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-nunc-vulputate-libero-et-velit-interdum-ac-aliquet-odio-mattis {
  color: #ffffff;
  text-align: center;
  font: 500 20px/30.5px "Roboto", sans-serif;
  position: absolute;
  left: 19px;
  top: 273px;
  width: 342.65px;
  height: 31.14px;
}
.group-5 {
  flex-shrink: 0;
  width: 381px;
  height: 478px;
  position: static;
}
.rectangle-2412 {
  background: #ffffff;
  border-radius: 15px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 381px;
  height: 478px;
  position: absolute;
  left: 439px;
  top: 0px;
  box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.3);
}
.vector2 {
  position: absolute;
  left: 575px;
  top: 50px;
  overflow: visible;
}
.abc2 {
  color: #000000;
  text-align: center;
  font: 400 42px "Red Hat Display", sans-serif;
  position: absolute;
  left: 547px;
  top: 184px;
  width: 144px;
  height: 49px;
}
.korem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-nunc-vulputate-libero-et-velit-interdum-ac-aliquet-odio-mattis2 {
  color: #595959;
  text-align: center;
  font: 200 20px/30.5px "Roboto", sans-serif;
  position: absolute;
  left: 458px;
  top: 273px;
  width: 342.65px;
  height: 31.14px;
}
.group-6 {
  flex-shrink: 0;
  width: 381px;
  height: 478px;
  position: static;
}
.rectangle-2413 {
  background: #ffffff;
  border-radius: 15px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 381px;
  height: 478px;
  position: absolute;
  left: 878px;
  top: 0px;
  box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.3);
}
.vector3 {
  position: absolute;
  left: 1014px;
  top: 50px;
  overflow: visible;
}
.abc3 {
  color: #000000;
  text-align: center;
  font: 400 42px "Red Hat Display", sans-serif;
  position: absolute;
  left: 986px;
  top: 184px;
  width: 144px;
  height: 49px;
}
.korem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-nunc-vulputate-libero-et-velit-interdum-ac-aliquet-odio-mattis3 {
  color: #595959;
  text-align: center;
  font: 200 20px/30.5px "Roboto", sans-serif;
  position: absolute;
  left: 897px;
  top: 273px;
  width: 342.65px;
  height: 31.14px;
}
